
<div class="plane">
    <div class="cockpit">
      <h1>Please select a seat</h1>
    </div>
    <div class="exit exit--front fuselage">
      
    </div>
    <ol class="cabin fuselage">
      <li class="row row--1">
        <ol class="seats" type="A" >
          <li class="seat">
            <input type="checkbox" id="1A" [(ngModel)]="A1" value="1" [disabled]="isDisabledA1"/>
            <label for="1A">1A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1B" [(ngModel)]="B1" value="1" [disabled]="isDisabledB1"/>
            <label for="1B">1B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1C" [(ngModel)]="C1" value="1" [disabled]="isDisabledC1"/>
            <label for="1C">1C</label>
          </li>
          <li class="seat">
            <input type="checkbox"  id="1D" [(ngModel)]="D1" value="1" [disabled]="isDisabledD1"/>
            <label for="1D">1D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1E" [(ngModel)]="E1" value="1" [disabled]="isDisabledE1"/>
            <label for="1E">1E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1F" [(ngModel)]="F1" value="1" [disabled]="isDisabledF1"/>
            <label for="1F">1F</label>
          </li>
        </ol>
      </li>
      <li class="row row--2">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="2A" [(ngModel)]="A2" value="1" [disabled]="isDisabledA2"/>
            <label for="2A">2A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2B" [(ngModel)]="B2" value="1" [disabled]="isDisabledB2" />
            <label for="2B">2B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2C" [(ngModel)]="C2" value="1" [disabled]="isDisabledC2"/>
            <label for="2C">2C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2D" [(ngModel)]="D2" value="1" [disabled]="isDisabledD2"/>
            <label for="2D">2D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2E" [(ngModel)]="E2" value="1" [disabled]="isDisabledE2"/>
            <label for="2E">2E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2F" [(ngModel)]="F2" value="1" [disabled]="isDisabledF2"/>
            <label for="2F">2F</label>
          </li>
        </ol>
      </li>
      <li class="row row--3">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="3A" [(ngModel)]="A3" value="1" [disabled]="isDisabledA3"/>
            <label for="3A">3A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3B" [(ngModel)]="B3" value="1" [disabled]="isDisabledB3"/>
            <label for="3B">3B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3C" [(ngModel)]="C3" value="1" [disabled]="isDisabledC3"/>
            <label for="3C">3C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3D" [(ngModel)]="D3" value="1" [disabled]="isDisabledD3"/>
            <label for="3D">3D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3E" [(ngModel)]="E3" value="1" [disabled]="isDisabledE3"/>
            <label for="3E">3E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3F" [(ngModel)]="F3" value="1" [disabled]="isDisabledF3"/>
            <label for="3F">3F</label>
          </li>
        </ol>
      </li>
      <li class="row row--4">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="4A" [(ngModel)]="A4" value="1" [disabled]="isDisabledA4"/>
            <label for="4A">4A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4B" [(ngModel)]="B4" value="1" [disabled]="isDisabledB4"/>
            <label for="4B">4B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4C" [(ngModel)]="C4" value="1" [disabled]="isDisabledC4"/>
            <label for="4C">4C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4D" [(ngModel)]="D4" value="1" [disabled]="isDisabledD4"/>
            <label for="4D">4D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4E" [(ngModel)]="E4" value="1" [disabled]="isDisabledE4"/>
            <label for="4E">4E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4F" [(ngModel)]="F4" value="1" [disabled]="isDisabledF4"/>
            <label for="4F">4F</label>
          </li>
        </ol>
      </li>
      <li class="row row--5">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="5A" [(ngModel)]="A5" value="1" [disabled]="isDisabledA5"/>
            <label for="5A">5A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5B" [(ngModel)]="B5" value="1" [disabled]="isDisabledB5"/>
            <label for="5B">5B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5C" [(ngModel)]="C5" value="1" [disabled]="isDisabledC5"/>
            <label for="5C">5C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5D" [(ngModel)]="D5" value="1" [disabled]="isDisabledD5"/>
            <label for="5D">5D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5E" [(ngModel)]="E5" value="1" [disabled]="isDisabledE5"/>
            <label for="5E">5E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5F"  [(ngModel)]="F5" value="1" [disabled]="isDisabled"/>
            <label for="5F">5F</label>
          </li>
        </ol>
      </li>
    </ol>
    <div class="exit exit--back fuselage">
     
    </div>
    <span style="float:inherit;"><button (click)="select(A1,B1,C1,D1,E1,F1,A2,B2,C2,D2,E2,F2,A3,B3,C3,D3,E3,F3,A4,B4,C4,D4,E4,F4,A5,B5,C5,D5,E5,F5)"><p>Proceed-To-Pay</p></button></span>
  </div>
  